[submodule "lib/core"]
	path = lib/core
	url = https://github.com/butterfly-community/oskey-lib-core.git
[submodule "lib/quirc"]
	path = lib/quirc
	url = https://github.com/dlbeer/quirc.git
[submodule "lib/zscilib"]
	path = lib/zscilib
	url = https://github.com/zephyrproject-rtos/zscilib.git
