# SPDX-License-Identifier: MPL-2.0

.vscode
.cache
.cargo
/build*/
/boards/build/
/src/audio/assets/generated/
*.bin
target
/temp*/
kconfig.json
*.log
AGENTS.md
/test*/
!/tests/
/tests/*
!/tests/nxp/
