#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
  chosen {
    zephyr,display = &st7789v;
    zephyr,touch = &ft6336;
    zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
  };

  aliases {
    backlight = &lcd_bk;
    app-uart = &uart0;
  };

  mipi_dbi {
    compatible = "zephyr,mipi-dbi-spi";
    dc-gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
    spi-dev = <&spi2>;
    write-only;
    #address-cells = <1>;
    #size-cells = <0>;

    st7789v: st7789v@0 {
      compatible = "sitronix,st7789v";
      mipi-max-frequency = <DT_FREQ_M(80)>;
      reg = <0>;
      width = <320>;
      height = <240>;
      x-offset = <0>;    // 0x2a
      y-offset = <0>;    // 0x2b
      vcom = <0x32>;     // 0xbb
      gctrl = <0x35>;
      vrhs = <0x15>;     // 0xc3
      vdvs = <0x20>;     // 0xc4
      mdac = <0x60>;     // 0x36 horizontal 0x00 0xc0 0x70 0xa0 0x60
      gamma = <0x01>;    // no gamma
      colmod = <0x66>;   // 0x3a，0x05 0x55 0x66 
      lcm = <0x2c>;
      porch-param = [ 0c 0c 00 33 33  ];   // 0xb2
      cmd2en-param = [ 5a 69 02 01  ];     // 0xdf
      pwctrl1-param = [ a4 a1  ];          // 0xd0
      pvgam-param = [ d0 08 0e 09 09 05 31 33 48 17 14 15 31 34  ]; // 0xe0
      nvgam-param = [ d0 08 0e 09 09 15 31 33 48 17 14 15 31 34  ]; // 0xe1
      ram-param = [ 00 F0  ];
      rgb-param = [ CD 08 14  ];
      mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
    };
  };

  leds {
    compatible = "gpio-leds";
    status = "okay";
    lcd_bk: led_0 {
      gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
    };
  };

  lvgl_pointer {
		compatible = "zephyr,lvgl-pointer-input";
		input = <&ft6336>;
    invert-y;
	};
};

&i2c0 {
  status = "okay";
  pca9557: pca9557@19 {
    compatible = "nxp,pca9554";
    reg = <0x19>;
    gpio-controller;
    #gpio-cells = <2>;
    ngpios = <8>;
  };

  ft6336: ft5336@38 {
    status = "okay";
    compatible = "focaltech,ft5336";
    reg = <0x38>;
  };
};

&spim2_default {
  group1 {
    pinmux = <SPIM2_SCLK_GPIO41>;
  };
  group2 {
    pinmux = <SPIM2_MOSI_GPIO40>;
    output-low;
  };
};

&spi2 {
  #address-cells = <1>;
  #size-cells = <0>;
  status = "okay";
  pinctrl-0 = <&spim2_default>;
  cs-gpios = <&pca9557 0 GPIO_ACTIVE_LOW>;
  pinctrl-names = "default";
};

&dma {
    status = "okay";
};

&usb_serial {
	status = "okay";
};