/ {
	aliases {
		app-uart = &uart0;
	};
	chosen {
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
	};

	wifi_ap: wifi_ap {
		compatible = "espressif,esp32-wifi";
		status = "okay";
	};
};

&dma {
	status = "okay";
};

&usb_serial {
		status = "okay";
};