/ {
	aliases {
		app-uart = &uart0;
	};
	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,uart-mcumgr = &uart1;
		zephyr,code-partition = &slot0_partition;
	};

	uart {
		status = "okay";
		compatible = "zephyr,native-tty-uart";
		current-speed = <115200>;
		serial-port = "/dev/ttyOSKey";
	};

	uart_1 {
		status = "okay";
	};

	sdl_dc {
		compatible = "zephyr,sdl-dc";
		height = < 240 >;
		width = < 320 >;
	};
};


